<ion-header class="ion-no-border">
  <ion-toolbar color="primary" fixed>
    <ion-title>
      {{ selectedButton?.title }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" fixed>
    <ion-row>
      <ion-col *ngFor="let button of buttons" class="ion-text-center">
        <ion-button class="toolbar-button" fill="clear" size="small" color="light" [class.selected]="button.selected"
          [ngClass]="button.id" (click)="onButtonTouched(button)">
          <ion-icon slot="icon-only" [name]="button.icon" [src]="button.icon">
          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <web-social-share (closed)="webSocialShare.onClosed()" [show]="webSocialShare.show" [share]="webSocialShare.share">
    <ion-icon class="icon-share" name="logo-facebook" slot="facebook" color="fb"></ion-icon>
    <ion-icon class="icon-share" name="logo-twitter" slot="twitter" color="twitter"></ion-icon>
    <ion-icon class="icon-share" name="logo-whatsapp" slot="whatsapp" color="whatsapp"></ion-icon>
  </web-social-share>

  <ion-grid fixed>

    <ion-row class="full-height ion-align-items-center" *ngIf="currentState === StateView.ErrorNetwork">
      <ion-col class="ion-text-center">
        <ion-icon class="icon-alert" name="alert-circle-outline"></ion-icon>
        <p>Network error</p>
      </ion-col>
    </ion-row>

    <ion-row class="full-height ion-align-items-center" *ngIf="currentState === StateView.EmptyData">
      <ion-col class="ion-text-center">
        <ion-icon class="icon-alert" name="alert-circle-outline"></ion-icon>
        <p>No data found</p>
      </ion-col>
    </ion-row>

    <ion-slides [options]="slideOpts" (ionSlideDidChange)="onSlideDidChange()">
      <ion-slide *ngFor="let slide of slidesPost">

        <ion-list lines="full" *ngIf="currentState === StateView.Loading">
          <ion-item *ngFor="let i of fakeArray">
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-list lines="full" *ngIf="isSlideActive(slide) && currentState === StateView.Content">
          <ion-item *ngFor="let post of slide.posts" (click)="openUrl(post.url)">
            <ion-label class="ion-text-wrap">
              <p class="bold link">{{ post.title }}</p>
              <ion-button fill="clear" color="primary" size="small" class="ion-text-lowercase"
                (click)="onShare(post); $event.stopPropagation()">
                <ion-icon name="share" slot="start"></ion-icon>
                <span>Share</span>
              </ion-button>
              <ion-button fill="clear" size="small" class="ion-text-lowercase"
                (click)="onCopyButtonTouched(post); $event.stopPropagation()">
                <span>Copy link</span>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-slide>
    </ion-slides>
  </ion-grid>

</ion-content>